/* Fes la navegació lateral i superior més ennegregada */
.md-nav__title {
  font-weight: 700;
}

.md-nav--primary > .md-nav__list > .md-nav__item > .md-nav__link {
  font-weight: 700;
}

/* Eixamplar el contenidor global */
.md-grid {
  max-width: 92% !important;
}

/* Forçar la columna central a ocupar tot l'espai sobrant */
.md-content {
  max-width: 100% !important;
}

/* Ampliar el bloc de text intern per evitar que mantingui un límit de píxels */
.md-content__inner {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* Empènyer el menú de la dreta (Taula de continguts) cap a l'extrem */
.md-sidebar--secondary {
  margin-left: auto !important;
}
